.weather {
    padding: 40px;
    place-self: center;
    margin-left: 700px;
    border-radius: 12px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 17px;
}

.search-bar input {
    height: 50px;
    border: none;
    border-radius: 40px;
    outline: none;
    padding-left: 25PX;
    font-size: 22px;
    background: #ebfffc;
    color: #626262;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: #ebfffc;
}

.location {
    color: white;
    font-size: 34px;
}

.weather-data {
    width: 100%;
    margin-top: 42px;
    color: #fff;
    justify-items:center;
}

.weather-data .col {
    display: flex;
    font-size: 23px;
    gap:32px;
    align-items: flex-start;
    margin-left: 44px;;

}
.weather-data .col span{
    display: block;
    font-size: 17px;
}
.weather-data .col img{
    width: 30%;
    margin-top: 10px;

}
