

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-card {
  background: rgb(106, 118, 211);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.08s;
  opacity: 1;
}

.weather-info {
  margin-top: 20px;
}
/* 
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top :20px ;
}

.weather-info {
  margin-top: 20px;
} */
/* 
body{
    background: aqua;
}
.weather-detial{
    width: 85%;
    max-width:470px;
background: linear-gradient(133deg,#74ebd5, #acb6e5);
color: rgb(153, 192, 233);
margin: 100px auto 0;
border-radius: 17px;
text-align: center;
padding: 40px;
} */
 /* body {
  background: rgb(89, 177, 177);
}

.weather-detail {
  width: 80%;
  max-width: 410px;
  background: linear-gradient(133deg, #74ebd5, #acb6e5);
  color: rgb(153, 192, 233);
  margin: 100px auto 0;
  border-radius: 17px;
  text-align: center;
  padding: 40px;
  
}
input{
    width:70%;
    padding:10px;
    background: darkgray;
    color:#555;
    height: 30px;
    border-radius: 28px; 
    flex:1;
    margin-right: 18px;
    margin-left: 20px;
    
border:2px solid;
}
button{
    background-color: rgb(0, 72, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;

    
    
}
.weather-info{
    text-align:center;
    margin-top: 18px;
} */