/* .navbar{
    display: flex;
    align-items: auto;
    justify-content:space-between;
    margin:40px 230px;


}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:60px;
    font-size: 18px;
}
.nav-connect{background: linear-gradient(267deg,orange.36%,rgb(216, 86, 212));
    padding: 20px 40px;
    border-radius: 46px;
    
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 18%;
}
.nav-menu  li{
    display: flex;
    flex-direction: column;
    gap:5px;
    cursor:pointer;
}
.anchor-link{
    text-decoration:none;
    color:white;


}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}
@media (max-width:780px) {
    .navbar{
        margin: 20px 48px;
    }

.nav-mob-open{
    display: flex;
    position: fixed;
    right: 26px;
}
.nav-mob-close{
    display: block;
    position: relative;
    top: 26px;
    left:292px;
    width: 28px;
}
.nav-menu{
    position: fixed;
    flex-direction: column;
    gap:30px ;
    align-items: start;
    top:0;
    background-color: #1F0013;
    width: 350px;
    height:100%;
    z-index: 2;
    transition: right 0.3s ;
    right: -350px;
  
}
.nav-menu li{
    font-size: 29px;
    padding-left:100px ;
    flex-direction: row;
    gap: 21px;
}

} */