@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

* {
  font-family: var(--font-inter);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}